<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :question %>
    <%= form.text_field :question, id: :question_question, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :question_description, class: "form-control" %>
  </div>
  
  <%= form.hidden_field :template_id, id: :question_template_id %>

  <div class="form-group">
    <%= form.label :required %>
    <%= form.check_box :required, id: :question_required %>
  </div>

  <div class="form-group">
    <%= form.label :images %>
    <%= form.check_box :images, id: :question_images %>
  </div>

  <div class="form-group">
    <%= form.label :comment %>
    <%= form.check_box :comment, id: :question_comment %>
  </div>

  <%= form.submit 'Save' , :class => 'btn btn-success float-right'%>
<% end %>
