<% if notice %>
<div id="notice" class="alert alert-primary" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>  
<% end %>

<h1>Question</h1>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Required:</strong>
  <%= @question.required %>
</p>

<p>
  <strong>Images:</strong>
  <%= @question.images %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @question.comment %>
</p>

<%= link_to 'Back', template_questions_path, class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_template_question_path(@template), class: "btn btn-primary" %>