<% if notice %>
<div id="notice" class="alert alert-primary" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>  
<% end %>

<h1>Template</h1>

<div class="row">
<div class="col-md-6">
<strong>Name:</strong>
  <%= @template.name %>
</div>
<div class="col-md-6">
  <%= link_to  "Show Facility Items", template_facility_items_path(@template), class: "btn btn-primary"  %>
</div>
</div>

<%= link_to 'Back', templates_path, class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_template_path(@template), class: "btn btn-primary" %> 
