<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
  <% @template.questions.each do |item| %>
  <strong>Questions:</strong>
  <%= link_to  item.question, item %>
<% end %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
