<p id="notice"><%= notice %></p>

<p>
  <strong>Protocol:</strong>
  <%= @result.protocol_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @result.answer %>
</p>

<p>
  <strong>Question:</strong>
  <%= @result.question %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @result.image_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @result.user %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @result.comment %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
