<h1><%= @template.name %> - Add Facility Items</h1>
<%= paginate @facility, theme: 'twitter-bootstrap-4' %>
<%= page_entries_info @facility %>
<%= form_tag('/templates/1/addFacilityItems', method: "post") do %>
<div id="accordion" role="tablist">
    <% @facility.each do |item| %>
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#<%= item.name.gsub(/\s+/, "") %>" aria-expanded="true" aria-controls="<%= item.name.gsub(/\s+/, "") %>">
              <%= item.name %>
            </a>
          </h5>
        </div>
    
        <div id="<%= item.name.gsub(/\s+/, "") %>" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <% item.facility_items.each do |facility_item| %>              
              <div class="form-check">
                  <label class="form-check-label">                                       
                        <% if @template.template_facility_item.exists?(facility_item.template_facility_item) %>
                          <%= check_box_tag 'items[]', facility_item.id, true %>
                        <% else %>
                          <%= check_box_tag 'items[]', facility_item.id, false %>    
                        <% end %>        
                    <%= facility_item.name %>
                  </label>
                </div>
              <% end %> 
          </div>
        </div>
      </div>
  <% end %>  
</div>
<%= submit_tag("Add",:class => 'btn btn-success float-right') %>
<% end %>
<%= link_to 'Back', template_facility_items_path, class: "btn btn-secondary" %>

<script>
  $().click
</script>