<p id="notice"><%= notice %></p>

<h1>Facility Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Facility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facility_items.each do |facility_item| %>
      <tr>
        <td><%= facility_item.name %></td>
        <td><%= facility_item.facility_id %></td>
        <td><%= link_to 'Show', facility_item %></td>
        <td><%= link_to 'Edit', edit_facility_item_path(facility_item) %></td>
        <td><%= link_to 'Destroy', facility_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility Item', new_facility_item_path %>
