<% if notice %>
<div id="notice" class="alert alert-primary" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>  
<% end %>

<p>
  <strong>Name:</strong>
  <%= @facility_item.name %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @facility.name %>
</p>

<%= link_to 'Back', facility_facility_items_path(), class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_facility_facility_item_path(@facility, @facility_item), class: "btn btn-primary" %>

