<% if notice %>
<div id="notice" class="alert alert-primary" role="alert">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>  
<% end %>

<h1>Scheduling</h1>
<p>
  <strong>Name:</strong>
  <%= @scheduling.name %>
</p>

<p>
  <strong>Template:</strong>
  <%= @scheduling.template_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @scheduling.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @scheduling.end_date %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @scheduling.monday %>
</p>

<p>
  <strong>Thuesday:</strong>
  <%= @scheduling.thuesday %>
</p>

<p>
  <strong>Wendsday:</strong>
  <%= @scheduling.wendsday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @scheduling.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @scheduling.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @scheduling.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @scheduling.sunday %>
</p>

<p>
  <strong>Week duration:</strong>
  <%= @scheduling.week_duration %>
</p>

<p>
  <strong>Delay:</strong>
  <%= @scheduling.delay %>
</p>

<p>
  <strong>Notification:</strong>
  <%= @scheduling.notification %>
</p>

<%= link_to 'Back', template_schedulings_path, class: "btn btn-secondary" %>
<%= link_to 'Edit', edit_template_scheduling_path(@template), class: "btn btn-primary" %>
