<!DOCTYPE html>
<html>
  <head>
    <title>PlanningAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <aside>
      <h2>Menu</h2>
      <hr>
      <ul>
        <li><%= link_to  "Facilities", facilities_path %></li>
        <li><%= link_to  "Facilities Items", facility_items_path %></li>
        <li><%= link_to  "Templates", templates_path %></li>
        <li><%= link_to  "Questions", questions_path %></li>
      </ul>
    </aside>
    <section>
        <%= yield %>
    </section>    
  </body>
</html>
