<!DOCTYPE html>
<html>
  <head>
    <title>PlanningAdmin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">  
    <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <%= link_to  "Admin", root_url, {class: "navbar-brand"} %>   
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">                
                <li class="nav-item">
                    <%= link_to  "Facilities", facilities_path, {class: "nav-link"} %>
                </li>
                <li class="nav-item">
                    <%= link_to  "Templates", templates_path, {class: "nav-link"} %>
                </li>                
              </ul>
              <%= link_to 'To app', '/work', class: "btn btn-primary" %>              
            </div>
          </nav>
    </section>     
    <section>
        <%= yield %>
    </section>    
  </body>
</html>
